body {
  margin: 0;
  padding: 0;
  background: #ffe;
  font-size: 14px;
  overflow: auto
}

#mainDiv {
  width: 100%;
  height: 100%
}

#loveHeart {
  float: left;
  width: 670px;
  height: 625px
}

#garden {
  width: 100%;
  height: 100%
}

#elapseClock {
  text-align: right;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 10px
}

#words {
  font-family: "sans-serif";
  width: 500px;
  font-size: 24px;
  color: #666
}

#messages {
  display: none
}

#elapseClock .digit {
  font-family: "digit";
  font-size: 36px
}

#loveu {
  padding: 5px;
  font-size: 22px;
  margin-top: 80px;
  margin-right: 120px;
  text-align: right;
  display: none
}

#loveu .signature {
  margin-top: 10px;
  font-size: 20px;
  font-style: italic
}

#clickSound {
  display: none
}

#code {
  float: left;
  width: 440px;
  height: 400px;
  color: #333;
  font-family: "Consolas","Monaco","Bitstream Vera Sans Mono","Courier New","sans-serif";
  font-size: 14px
}

#code .string {
  color: #2a36ff
}

#code .keyword {
  color: #7f0055;
  font-weight: bold
}

#code .placeholder {
  margin-left: 15px
}

#code .space {
  margin-left: 7px
}

#code .comments {
  color: #3f7f5f
}

#copyright {
  margin-top: 10px;
  text-align: center;
  width: 100%;
  color: #666
}

#errorMsg {
  width: 100%;
  text-align: center;
  font-size: 24px;
  position: absolute;
  top: 100px;
  left: 0
}

#copyright a {
  color: #666
}

#showHua {
  display: none;
  width: 300px;
  height: 313px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin-left: 550px;
  margin-top: 170px;
  cursor: pointer;
}
#showHua img {
  width: 100%;
  height: 100%;
}
#snow {
	position:absolute;
	top:0;
	left:0;
}
#swiperDom{
  display: none;
  width: 500px;
  height: 500px;
  position: absolute;
  top: 50px;
  left: 55px;
  z-index: 2;
}
.swiper-container {
  width: 100%;
  height: 100%;
}
.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.slideimg{
  width:auto;
  height:auto;
  max-width:500px;
  max-height:375px;
}
.slide-msg{
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
}