.adenglu{ background:url("adenglu.png") top left no-repeat; }
.adenglu_r2_c6{ width:48px; height:49px; background-position:-10px -10px; }
.adenglu_r6_c4{ width:18px; height:20px; background-position:-10px -69px; }
.adenglu_r4_c2{ width:14px; height:14px; background-position:-38px -69px; }

